{{#section 'title'}}
	Trang quản lý
{{/section}}

<div class="row" style="margin-bottom: 20px">
	<div class="col-xs-12">
		<a href="/account/user/waitingupgrade" class="btn btn-info">Xét duyệt</a>
		<a href="/account/admin/category" class="btn btn-info">Thể loại</a>
		<a href="/account/admin/product" class="btn btn-info">Sản phẩm</a>
	</div>
</div>

<h3>Quản lý thành viên</h3>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>No.</th>
			<th>Name</th>
			<th>Username</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{#each users}}
			<tr data-id="{{user_id}}" data-email="{{email}}">
				<td>{{convertIndexToNo @index}}</td>
				<td>{{fullname}}</td>
				<td>{{username}}</td>
				<td>{{email}}</td>
				<td>
					<a class="onDelete" href="javascript:void()">Xóa</a> | 
					<a class="resetPass" href="javascript:void()">Reset pass</a>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{#section 'js'}}
	<script type="text/javascript">
		$(function() {
			var onDelete = $('.onDelete');
			var resetPass = $('.resetPass');

			resetPass.on('click', function(e) {
				e.preventDefault();

				var tr = $(this).parents('tr');
				var data = tr.data();
				var id = data.id;
				var email = data.email

				var isOK = confirm('Bạn có chắc reset password user này?');

				if(isOK == true) {
					$.post('/account/resetpass', {id: id, email: email}, function(response) {
						if(response) {
							alert('Đã reset mật khẩu và gửi email cho user');
						}
					})
				}
			})

			onDelete.on('click', function(e) {
				e.preventDefault();
				var tr = $(this).parents('tr');
				var id = tr.data('id');

				var isOK = confirm('Bạn có chắc muốn xóa user này?');

				if(isOK == true) {
					$.post('/account/delete', {id: id}, function(response) {
						if(response) {
							tr.remove();
						}
					})
				} else {
					// do nothing
				}
			})
		})
	</script>
{{/section}}