{{#section 'title'}}
	Sản phẩm yêu thích
{{/section}}

<div class="row">
		{{#each products}}
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="product">
					<div class="thumbnailProduct" style="background-image: url('/img/products/{{image}}')">
						<!-- <img src="/img/products/{{image}}" width="100%"> -->
					</div>
					<div class="info">
						<h4>{{product_name}}</h4>
						<p>Giá khởi điểm: {{formatNumber price}}</p>
						<p>Giá hiện tại: {{formatNumber price_present}}</p>
						<p>Hiện tại:
							<span>{{showAuctionUser username price_present}}</span>
						</p>
						<p>Số lượt đấu giá: {{count_auction}}</p>
						<p>Còn lại: {{expiredTime expired_date}}</p>
						<p>
							<a href="/product/detail/{{product_id}}" class="btn btn-default">
								Chi tiết
							</a>
						</p>
					</div>
				</div>
			</div>
		{{/each}}
	</div>