{{#section 'title'}}
	Thông tin đăng nhập
{{/section}}

{{#section 'css'}}
	<style type="text/css">
		#mainBody {
			max-width: 500px;
		}
		#btnLogin {
			width: 80%;
			margin: auto;
			display: block;
		}
		.wrapRegister {
			margin-top: 30px;
		}
		.error {
			color: #FB4226;
			font-size: 14px;
			margin-bottom: 15px;
		}
	</style>
{{/section}}

<div class="row">
	<div class="col-xs-12 error">
		{{#if showError}}
			{{errorMsg}}
		{{/if}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<form action="" method="POST">
			<div class="form-group">
					<input class="form-control" type="text" name="username" placeholder="Tên đăng nhập / Username" />
			</div>
			<div class="form-group">
					<input class="form-control" type="password" name="password" placeholder="Mật khẩu / Password" />
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" name="remember">Ghi nhớ</label>
				</div>
			</div>
			<button class="btn btn-info" type="submit" name="btnLogin" id="btnLogin">Đăng nhập</button>
		</form>
	</div>
	<div class="col-xs-12 wrapRegister">
		<p>Bạn chưa có tài khoản? <a href="/account/register">Đăng ký</a></p>
	</div>
</div>