{{#section 'title'}}
	Thông tin cá nhân
{{/section}}

<div class="row">
	<div class="col-xs-12">
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Email</th>
					<th>Họ tên</th>
					<th>Mật khẩu</th>
					<th>Quyền hạn</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ layoutModels.curUser.email }}</td>
					<td>{{ layoutModels.curUser.fullname }}</td>
					<td>**********</td>
					<td>
						{{ layoutModels.curUser.permission_name }}
						{{#if layoutModels.isGuest}}
							{{#if isWaiting}}
							<button style="margin-left:10px" type="button" disabled class="btn btn-success">Đang xét duyệt</button>
							{{else}}
							<button style="margin-left:10px" type="button" id="btnUpgrade" class="btn btn-primary">Nâng cấp</button>
							{{/if}}
						{{/if}}
					</td>
					<td>
						<a href="/account/update">Cập nhật</a> | 
						<a href="/review/{{layoutModels.curUser.id}}">Link đánh giá</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<a href="/account/sellingproducts" class="btn btn-info">Sản phẩm đang được đăng bán</a>
		<a href="/account/soldproducts" class="btn btn-success">Sản phẩm đã có người mua</a>
		<a href="/account/favorite" class="btn btn-danger">Sản phẩm yêu thích</a>
		<a href="/account/admin/product/biding" class="btn btn-primary">Sản phẩm đang đấu giá</a>
		<a href="/account/admin/product/won" class="btn btn-info">Sản phẩm đã thắng</a>
	</div>
</div>

{{#section 'js'}}
	<script type="text/javascript">
		$(function() {
			var btnUpgrade = $('#btnUpgrade');

			btnUpgrade.on('click', function() {
				$.get('/account/upgradeaccount', function(response) {
					console.log(response);
					if(response) {
						btnUpgrade.removeClass('btn-primary');
						btnUpgrade.addClass('btn-success');
						btnUpgrade.text('Đang xét duyệt');
						btnUpgrade.prop('disabled', true);
					}
				})
			})
		})
	</script>
{{/section}}