{{#section 'title'}}
	Đăng ký
	<div style="display: none;" id="showInf">
		<h5>Bạn nhập thông tin chưa đầy đủ hoặc sai. Vui lòng nhập đầy đủ thông tin theo yêu cầu!</h5>
	</div>
{{/section}}

{{#section 'css'}}
	<style type="text/css">
		#mainBody {
			max-width: 500px;
		}
		#btnLogin {
			width: 80%;
			margin: auto;
			display: block;
		}
		.wrapRegister {
			margin-top: 30px;
		}
		.error {
			color: #FB4226;
			font-size: 14px;
			margin-bottom: 15px;
		}
		.input {
			margin-left: 15px;
			margin-top: 5px;
		}
		input.invalid, textarea.invalid{
			border: 2px solid red;
		}

		input.valid, textarea.valid{
			border: 2px solid green;
		}
		button{
			margin-top: 10px;
		}
	</style>
{{/section}}

<div class="row">
	<div class="col-xs-12 error">
		{{#if showError}}
			{{errorMsg}}
		{{/if}}
	</div>
</div>

<form class="form-horizontal" action='' method="POST" id="formRegister">
  <fieldset>

  	<div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Tên đăng nhập/Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="form-control">
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Name-->
      <label class="control-label"  for="username">Họ tên/Full name</label>
      <div class="controls">
        <input type="text" id="fullname" name="fullname" placeholder="" class="form-control">
      </div>
    </div>

    <div class="control-group">
      <!-- Address-->
      <label class="control-label"  for="username">Địa chỉ/Address</label>
      <div class="controls">
        <input type="text" id="address" name="address" placeholder="" class="form-control">
      </div>
    </div>

 	<div class="control-group">
 	<!-- E-mail -->
 		<label class="control-label" for="email">E-mail</label>
 		<div class="controls">
 			<input type="text" id="email" name="email" placeholder="" class="form-control">
 			<p class="help-block">Please provide your E-mail (example@gmail.com)</p>
 		</div>
 	</div>

 	<div class="control-group">
 	<!-- Password-->
 		<label class="control-label" for="password">Mật khẩu/Password</label>
 		<div class="controls">
 			<input type="password" id="password" name="password" placeholder="" class="form-control">
 			<p class="help-block">Password should be at least 6 characters</p>
 		</div>
 	</div>
 
 	<div class="control-group">
 	<!-- Password -->
 		<label class="control-label"  for="password_confirm">Xác nhận mật khẩu</label>
 		<div class="controls">
 			<input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control">
 			<p class="help-block">Please confirm password</p>
 		</div>
 	</div>

 	<div class="control-group">
 	<!-- Password-->
 		<label class="control-label">Captcha</label>
 		<div class="controls" >
 			<div class="col-md-6"><input type="text" data-code="{{captchaCode}}" id="captcha" name="captcha" class="form-control"></div>
 			<div class="col-md-6"><img src="data:image/png;base64, {{captchaImg}}" ></div>
 			
 		</div>
 	</div>

 	<div class="control-group">
 	<!-- Button -->
 		<div class="controls">
 			<button type="button" id="btnRegister" class="btn btn-success">Register</button>
 		</div>
 	</div>
 	</fieldset>
  	<div class="col-xs-12">
		<p>Bạn đã có tài khoản? <a href="/account/login">Đăng nhập</a></p>
	</div>
</form>

{{#section 'js'}}
	<script type="text/javascript">
		$(function() {
			var btnRegister = $('#btnRegister');
			var canRegister = false;
			var captcha = $('#captcha');
			var captchaRealCode = captcha.data('code');
			$('#username').on('input', function() {
				var input=$(this);
				var is_name=input.val();
				var name_length = is_name.length;
				if(is_name && name_length>=6){input.removeClass("invalid").addClass("valid");canRegister=true;}
				else{input.removeClass("valid").addClass("invalid");canRegister=false;}
			});

			$('#fullname').on('input', function() {
				var input=$(this);
				var is_fullname=input.val();
				if(is_fullname){input.removeClass("invalid").addClass("valid");canRegister=true;}
				else{input.removeClass("valid").addClass("invalid");canRegister=false;}
			});

			$('#address').on('input', function() {
				var input=$(this);
				var is_address=input.val();
				if(is_address){input.removeClass("invalid").addClass("valid");canRegister=true;}
				else{input.removeClass("valid").addClass("invalid");canRegister=false;}
			});

			$('#email').on('input', function() {
				var input=$(this);
				//var pattern = new RegExp("^[_A-Za-z0-9-]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$");
				//var result = pattern .test(str);
				var re = new RegExp("^[_A-Za-z0-9-]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$");
				var is_email=re.test(input.val());
				if(is_email){
					input.removeClass("invalid").addClass("valid");canRegister=true;}
				else{input.removeClass("valid").addClass("invalid");canRegister=false;}
			});

			$('#password').on('input', function() {
				var input=$(this);
				var is_pass=input.val();
				var pass_length = is_pass.length;
				if(is_pass && pass_length>=6){input.removeClass("invalid").addClass("valid");canRegister=true;}
				else{input.removeClass("valid").addClass("invalid"); canRegister=false;}
			});

			$('#password_confirm').on('input', function() {
				var pass = $('#password').val();
				var input=$(this);
				var is_passConf=input.val();
				if(is_passConf && is_passConf == pass) {
					input.removeClass("invalid").addClass("valid");
					canRegister=true;
				}
				else{
					input.removeClass("valid").addClass("invalid");
					canRegister=false;
				}
			});

			$('#captcha').on('input', function() {
				var input=$(this);
				var is_captcha=input.val();
				if(is_captcha && is_captcha==captchaRealCode){input.removeClass("invalid").addClass("valid");canRegister=true;}
				else{input.removeClass("valid").addClass("invalid");canRegister=false;}
			});

			btnRegister.on('click', function() {
				//xu ly
				if(canRegister)
				{
					$('#formRegister').submit();
					canRegister=false;
				}
				else
				{
					$('#showInf').show();
				}

			})
		})
	</script>
{{/section}}