{{#section 'title'}}
	Thông tin các sản phẩm đã được bán.
{{/section}}

<div class="row">
	{{#each products}}
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="product">
				<div class="thumbnailProduct" style="background-image: url('/img/products/{{image}}')">
					<!-- <img src="/img/products/{{image}}" width="100%"> -->
				</div>
				<div class="info">
					<h4>{{product_name}}</h4>
					<p>Giá khởi điểm: {{formatNumber price}}</p>
					<p>Giá đã bán: {{formatNumber price_present}}</p>
					<p>Số lượt đấu giá: {{count_auction}}</p>
					<p>
						<a href="/product/detail/{{product_id}}" class="btn btn-default">
							Chi tiết
						</a>
					</p>
				</div>
			</div>
		</div>
	{{/each}}
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {{#each pages }}
            {{#if isActive }}
                <li class="active">
                    <a href="?page={{pageValue}}">{{pageValue}}</a>
                </li>
            {{else}}
                <li>
                    <a href="?page={{pageValue}}">{{pageValue}}</a>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</nav>