{{#section 'title'}}
	Cập nhật thông tin
{{/section}}

{{#section 'css'}}
	<style type="text/css">
		#mainBody {
			max-width: 600px;
		}
	</style>
{{/section}}

{{#if showError}}
	<div class="row">
		<div class="col-xs-12 error">
			{{ errorMsg }}
		</div>
	</div>
{{/if}}

<div class="row wrapForm">
	<div class="col-xs-12">
		<form action="" method="POST">
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" type="text" name="email" value="{{ layoutModels.curUser.email }}">
			</div>
			<div class="form-group">
				<label>Họ tên</label>
				<input class="form-control" type="text" name="fullname" value="{{ layoutModels.curUser.fullname }}">
			</div>
			<div class="form-group">
				<label>Mật khẩu mới</label>
				<input type="password" name="password" class="form-control">
			</div>
			<div class="form-group">
				<label>Mật khẩu hiện tại</label>
				<input type="password" name="curPassword" class="form-control">
			</div>
			<button type="submit" id="btnUpdate" class="btn btn-success">Cập nhật</button>
			<a class="btn btn-primary" href="/account/profile">Hủy</a>
		</form>
	</div>
</div>