<!DOCTYPE html>
<html>
<head>
	<title>Bargain Site</title>
	<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css">
	<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
	<link rel="stylesheet" type="text/css" href="/css/core.css">
	<link rel="stylesheet" type="text/css" href="/css/footer.css">
	{{{_sections.css}}}
</head>
<body>
	{{> navbar this }}
	<form id="frmLogout" method="post" action="/account/logout"></form>

	{{> menu }}

	<div class="container" id="mainBody">
		<div class="row">
			<div class="col-sm-12">
				<h1>{{{_sections.title}}}</h1>
			</div>
		</div>
		{{{body}}}
	</div>
	{{> footer }}


	<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
	<script type="text/javascript" src="/js/core.js"></script>
    {{{_sections.js}}}
</body>
</html>