.nopadding {
  padding-left: 0;
  padding-right: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
#mainBody {
  padding-top: 20px;
  padding-bottom: 40px;
}
#searchForm {
  display: inline-block;
  float: left;
}
.error {
  color: #FB4226;
  font-size: 14px;
  margin-bottom: 15px;
}
.product {
  margin-bottom: 20px;
  height: 520px;
}
.btnSearch {
  cursor: pointer;
}
.thumbnailProduct {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#menu {
  background-color: #2B96B6;
  color: #fff;
  height: 50px;
  margin-top: 50px;
  padding-left: 50px;
}
#menu .menu {
  display: inline-block;
  line-height: 50px;
  padding: 0 10px;
  transition: all .2s;
}
#menu .menu a {
  cursor: pointer;
  color: #fff;
}
#menu .menu:hover {
  background-color: #E67425;
}
