{{#section 'title'}}
	{{categoryName}}
{{/section}}

{{#if isEmpty}}

	<div class="row">
		<div class="col-xs-12">
			<h3>Không có sản phẩm.</h3>
		</div>
	</div>

{{else}}

	<div class="row">
		{{#each products}}
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="product">
					<a href="/product/detail/{{product_id}}"><div class="thumbnailProduct" style="background-image: url('/img/products/{{image}}')">
						<!-- <img src="/img/products/{{image}}" width="100%"> -->
					</div></a>
					<div class="info">
						<h4><a href="/product/detail/{{product_id}}">{{product_name}}</a></h4>
						<p>Giá khởi điểm: {{formatNumber price}}</p>
						<p>Giá hiện tại: {{formatNumber price_present}}</p>
						<p>Hiện tại:
							<span>{{showAuctionUser username price_present}}</span>
						</p>
						<p>Số lượt đấu giá: {{count_auction}}</p>
						<p>Còn lại: {{expiredTime expired_date}}</p>
						<p>
							<a href="/product/detail/{{product_id}}" class="btn btn-default">
								Chi tiết
							</a>
							<!-- {{#if ../layoutModels.isLogged}}
								<a href="javascript:;" class="btn btn-success addItem" role="button" data-id="{{product_id}}">
	                                <i class="fa fa-cart-plus"></i>
	                                Đấu giá
	                            </a>
							{{/if}} -->
						</p>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

	<nav aria-label="Page navigation">
        <ul class="pagination">
            {{#each pages }}
                {{#if isActive }}
                    <li class="active">
                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{else}}
                    <li>
                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </nav>

{{/if}}