{{#section 'title'}}
	Thêm thể loại
{{/section}}

<div class="row">
	<div class="col-sm-6 col-xs-12">
		<form action="" method="POST">
			<div class="form-group">
				<label>Tên</label>
				<input class="form-control" type="text" name="name">
			</div>
			<div class="form-group">
				<label>Slug</label>
				<input class="form-control" type="text" name="slug">
			</div>
			<button type="submit" class="btn btn-success">Tạo</button>
		</form>
	</div>
</div>