{{#section 'title'}}
	Chỉnh sửa thể loại
{{/section}}

<div class="row">
	<div class="col-sm-6 col-xs-12">
		<form action="" method="POST">
			<div class="form-group">
				<label>Tên</label>
				<input class="form-control" type="text" name="name" value="{{category.name}}">
			</div>
			<div class="form-group">
				<label>Slug</label>
				<input class="form-control" type="text" name="slug" value="{{category.slug}}">
			</div>
			<button type="submit" class="btn btn-success">Cập nhật</button>
		</form>
	</div>
</div>