{{#section 'title'}}
	Quản lý thể loại
{{/section}}

{{#if showSuccess}}
<div class="alert alert-success">
  	{{successMsg}}.
</div>
{{/if}}

<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-info" href="/account/admin/category/create">Tạo mới</a>
	</div>
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Tên</th>
			<th>Slug</th>
			<th>Hành động</th>
		</tr>
	</thead>
	<tbody>
		{{#each layoutModels.categories}}
			<tr data-id="{{id}}">
				<td>{{name}}</td>
				<td>{{slug}}</td>
				<td>
					<a href="/account/admin/category/detail/{{id}}">Sửa</a> | 
					<a href="javascript:void()" class="onDelete">Xóa</a>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{#section 'js'}}
	<script type="text/javascript">
		$(function() {
			var onDelete = $('.onDelete');

			onDelete.on('click', function(e) {
				e.preventDefault();
				var tr = $(this).parents('tr');
				var id = tr.data('id');

				var isOK = confirm('Bạn có chắc muốn xóa thể loại này?');

				if(isOK == true) {
					$.post('category/delete', {id: id}, function(response) {
						console.log(response)
						if(response) {
							tr.remove();
						} else {
							alert('Không thể xóa thể loại này');
						}
					})
				} else {
					// do nothing
				}
			})
		})
	</script>
{{/section}}