{{#section 'title'}}
	Đăng sản phẩm
{{/section}}

{{#section 'css'}}
	<style type="text/css">
		input[type="file"] {
			margin-bottom: 10px;
		}
	</style>
{{/section}}

{{#if showSuccess}}
	<div class="alert alert-success">
		{{successMsg}}
	</div>
{{/if}}

<div class="row">
	<div class="col-xs-12">
		<form action="" method="POST" id="formCreateProduct" enctype="multiple/form-data">

			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<label>Tên sản phẩm</label>
					<input type="text" name="productName" class="form-control">
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<label>Thể loại</label>
					<select class="form-control" name="productCategory">
						{{#each layoutModels.categories}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					</select>
				</div>
			</div>

			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<label>Giá khởi điểm</label>
					<input type="text" name="productStartPrice" class="form-control">
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<label>Bước nhảy</label>
					<input class="form-control" type="text" name="productGapPrice"></input>
				</div>
			</div>

			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<label>Giá mua ngay</label>
					<input type="text" name="productBuyNowPrice" class="form-control">
				</div>
			</div>

			<div class="col-xs-12">
				<label>Mô tả</label>
				<textarea name="productDescription" rows="10"></textarea>
			</div>

			<div class="col-xs-12">
				<label>Hình sản phẩm</label>
				<input type="file" name="productImage">
				<!-- <button style="margin-top: 5px;" class="btn btn-primary" type="button" id="addMoreImage">Thêm hình</button> -->
			</div>

			<div class="col-xs-12">
				<button style="margin:auto; display:block;margin-top: 20px;width: 50%" type="submit" class="btn btn-success">Tạo sản phẩm</button>
			</div>

		</form>
	</div>
</div>

{{#section 'js'}}
	<script src="//cdn.ckeditor.com/4.7.1/full/ckeditor.js"></script>
	<script type="text/javascript">
		$(function() {
			CKEDITOR.replace('productDescription');

			var addMoreImage = $('#addMoreImage');

			addMoreImage.on('click', function() {
				//$(this).before('<input type="file" name="productImage[]">');
			})
		})
	</script>
{{/section}}