{{#section 'title'}}
	Chi tiết sản phẩm
{{/section}}

{{#section 'css'}}
	<style type="text/css">
		table, th, td
		{
			border: 1px solid black;
		}
		tr.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
		#errorDetail {
			display: none;
		}
		#productSlick {
			position: relative;
		}
		#productSlick img {
			width: 100%;
		}
		.slick-arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
			background: transparent;
			border-radius: 50%;
		    width: 35px;
		    height: 35px;
		    font-size: 24px;
		    line-height: 30px;
		    text-align: center;
		}
		.slick-prev {
			left: 1%;
		}
		.slick-next {
			right: 1%;
		}
	</style>
{{/section}}

<div class="row">
	<div class="col-md-4" id="productSlick">
		<!-- <div>
			<img src="/img/products/{{product.image}}" />
		</div> -->
		{{#each images}}
		<div class="">
			<img src="/img/products/{{image}}" />
		</div>
		{{/each}}
	</div>
	<div class="col-md-4">
		<h3>{{product.product_name}}</h3>
		<div class="col-md-6"><label>Người bán:</label></div>
		<div class="col-md-6"><p>
			{{#if isSeeReviewSeller}}
				<a href="/review/{{product.user_id}}">{{user.username}}</a>
			{{else}}
				<!-- {{encodeName user.username}} -->
			{{/if}}
		</p></div>
		<div class="col-md-6"><label>Giá khởi điểm:</label></div>
		<div class="col-md-6"><p>{{formatNumber product.price}}</p></div>
		<div class="col-md-6"><label>Giá hiện tại:</label></div>
		<div class="col-md-6"><p>{{formatNumber product.price_present}}</p></div>
		<div class="col-md-6"><label>Giá mua ngay:</label></div>
		<div class="col-md-6"><p>{{formatNumber product.price_buy_now}}</p></div>
		<div class="col-md-6"><label>Thời điểm bắt đầu:</label></div>
		<div class="col-md-6"><p>{{friendlyTime product.created_at}}</p></div>
		<div class="col-md-6"><label>Thời điểm kết thúc:</label></div>
		<div class="col-md-6"><p>{{friendlyTime product.expired_date}}</p></div>
		<div class="col-md-6"><label>Bước nhảy:</label></div>
		<div class="col-md-6"><p>{{formatNumber product.price_gap}}</p></div>
		{{#if canAuction}}
		<div class="col-md-6">
			<label>Giá đề nghị</label>
			<input data-price="{{product.price_present}}" data-gap="{{product.price_gap}}" disabled type="text" id="recommendPrice" name="recommendPrice" class="form-control" value="{{recommendPrice product.price_present product.price_gap}}">
		</div>
		<div class="col-md-6">
			<label>Giá đặt</label>
			<input type="text" id="priceAuction" name="auction" class="form-control"></div>
		<div class="col-md-12" style="margin-top:10px">
			<button style="width:100%" data-name="{{product.product_name}}" data-count="{{product.count_auction}}" data-product="{{product.product_id}}" type="button" id="btnAuction" class="btn btn-primary">Đấu giá</button>
		</div>
		<div class="col-xs-12 error" id="errorDetail"></div>
		<div class="col-md-12" style="margin-top:10px">
			<button data-id="{{product.product_id}}" style="width:100%" class="btn btn-danger" id="btnLike">
				{{#ifInArray product.product_id user.favorite_products}}
					Đã yêu thích
				{{else}}
					Yêu thích
				{{/ifInArray}}
			</button>
		</div>
		{{/if}}
	</div>

	<div class="col-md-4">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Tên người đấu giá</th>
					<th>Người đấu giá</th>
					<th>Giá</th>
					{{#if isSeller}}
					<th>Action</th>
					{{/if}}
				</tr>
			</thead>
			<tbody>
				{{#each auctions}}
					<tr data-email="{{email}}" data-productname="{{../product.product_name}}" data-user="{{user_id}}" data-product="{{../product.product_id}}">
						<td align="center">{{friendlyTime created_at }}</td>
						<td align="center">
							{{#if ../isSeller}}
								<a href="/review/{{user_id}}">{{username}}</a>
							{{else}}
								{{encodeName username }}
							{{/if}}
						</td>
						<td align="center">{{formatNumber price_auction }}</td>
						{{#if ../isSeller}}
						<td>
							<button type="button" class="btn btn-primary kick">Kick</button>
						</td>
						{{/if}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

</div>

<div class="row">
	<label>Mô tả sản phẩm:</label>
	<div class="col-xs-12">
		{{{product.description}}}
	</div>
</div>

{{#each descriptions}}
	<div class="row">
		<div class="col-md-12">
			<h4>{{friendlyTime created_at}}</h4>
			<div class="wrapDescription">
				{{{product_description}}}
			</div>
		</div>
	</div>
{{/each}}

{{#section 'js'}}
	<script type="text/javascript">
		$(function() {
			var btnAuction = $('#btnAuction');
			var errorDetail = $('#errorDetail');
			var btnLike = $('#btnLike');
			var btnKick = $('.kick');
			var txtRecommendPriceData = $('#recommendPrice').data();
			if(typeof txtRecommendPriceData !== 'undefined') {
				var recommendPrice = parseInt(txtRecommendPriceData.price) + parseInt(txtRecommendPriceData.gap);
			}

			$('#productSlick').slick({
				autoplay: true,
				autoplaySpeed: 3000,
			});

			setTimeout(function() {
				$('#productSlick .slick-prev').html('<');
				$('#productSlick .slick-next').html('>');
			}, 300);

			btnLike.on('click', function() {
				var id = $(this).data('id');
				$.post('/product/like', {id: id}, function(response) {
					if(response) {
						btnLike.text('Đã yêu thích');
					}
				});
			});

			btnKick.on('click', function() {
				var tr = $(this).parents('tr');
				var data = tr.data();

				var entity = {
					productId: data.product,
					userId: data.user,
					email: data.email,
					productName: data.productname
				}
				$.post('/product/kick', entity, function(response) {
					console.log(response);
					if(response) {
						tr.addClass('disabled');
					}
				})
			})

			btnAuction.on('click', function() {
				errorDetail.hide();
				var it = $(this);
				var itData = it.data();
				var priceAuction = $('#priceAuction').val();
				if(parseInt(priceAuction) < parseInt(recommendPrice)) {
					errorDetail.text('Giá không được thấp hơn giá đề nghị');
					errorDetail.show();
					return;
				}

				if((parseInt(priceAuction) % parseInt(txtRecommendPriceData.gap)) != 0) {
					errorDetail.text('Giá đấu giá phải bằng n * giá đề nghị (n từ 1 trở lên)');
					errorDetail.show();
					return;
				}

				var isOK = confirm('Bạn có chắc muốn đấu giá sản phẩm này?');
				if(isOK == true) {
					var data = {
						productId: itData.product,
						priceAuction: priceAuction,
						countAuction: parseInt(itData.count) + 1,
						productName: itData.name,
					}
					$.post('/product/auction', data, function(response) {
						if(response === true) {
							location.reload();
						} else {
							errorDetail.text('Bạn chưa đủ điều kiện tham gia thách đấu');
							errorDetail.show();
						}
					})
				} else {
					return;
				}
			})
		})
	</script>
{{/section}}