{{#if isEmpty}}
	<h3>{{ errorMsg }}</h3>
{{else}}

	<div class="row">
		<div class="col-xs-3 pull-right" style="margin-bottom: 15px">
			<select class="form-control" id="orderProduct">
				<option value="0" {{selectedOption searchOrder 0}}>Thời gian kết thúc giảm</option>
				<option value="1" {{selectedOption searchOrder 1}}>Thời gian kết thúc tăng</option>
				<option value="2" {{selectedOption searchOrder 2}}>Giá tăng</option>
				<option value="3" {{selectedOption searchOrder 3}}>Giá giảm</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		{{#each products}}
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="product">
					<div class="thumbnail">
						<img src="/img/products/{{image}}" width="100%">
					</div>
					<div class="info">
						<h4>{{product_name}}</h4>
						<p>Giá khởi điểm: {{formatNumber price}}</p>
						<p>Giá hiện tại: {{formatNumber price_present}}</p>
						<p>
							<a href="/product/detail/{{product_id}}" class="btn btn-default">
								Chi tiết
							</a>
							{{#isNewProduct created_at}}
								<span style="color:red;font-size:18px">Sản phẩm mới</span>
							{{/isNewProduct}}
							<!-- {{#if ../layoutModels.isLogged}}
								<a href="javascript:;" class="btn btn-success addItem" role="button" data-id="{{product_id}}">
	                                <i class="fa fa-cart-plus"></i>
	                                Đấu giá
	                            </a>
							{{/if}} -->
						</p>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

	<nav aria-label="Page navigation">
        <ul class="pagination">
            {{#each pages }}
                {{#if isActive }}
                    <li class="active">
                        <a href="?type={{../type}}&value={{../value}}&page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{else}}
                    <li>
                        <a href="?type={{../type}}&value={{../value}}&page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </nav>

{{/if}}

{{#section 'js'}}
	<script type="text/javascript">
		function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}

		function updateQueryStringParameter(key, value, url) {
			if (!url) url = window.location.href;
		  	var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
		  	var separator = url.indexOf('?') !== -1 ? "&" : "?";
		  	if (url.match(re)) {
		    	return url.replace(re, '$1' + key + "=" + value + '$2');
		  	}
		  	else {
		    	return url + separator + key + "=" + value;
		  	}
		}

		$(function() {
			var orderProduct = $('#orderProduct');

			orderProduct.on('change', function() {
				var type = orderProduct.val();
				var curUrl = location.href;
				var order = getParameterByName('order');
				if(typeof order !== 'undefined' && order !== '') {
					window.location.href = updateQueryStringParameter('order', type);
				} else {
					window.location.href = curUrl + '&order=' + type;
				}
				// console.log(curUrl);
			})
		})
	</script>
{{/section}}
