{{#section 'title'}}
	Cập nhật mô tả sản phẩm
{{/section}}

{{#section 'css'}}
	<style type="text/css">
		.wrapDescription {
			border: 1px solid #ccc;
			border-radius: 4px;
			padding: 15px;
		}
	</style>
{{/section}}

{{#if showError}}
	<div class="alert alert-danger">
	  	{{errorMsg}}
	</div>
{{else}}

	<div class="row">
		<div class="col-xs-12">
			<h3>Nội dung cũ</h3>
			<div class="wrapDescription">
				{{{bigDescription}}}
			</div>
		</div>
	</div>

	{{#each smallDescriptions}}
		<div class="row">
			<div class="col-xs-12">
				<h4>{{friendlyTime created_at}}</h4>
				<div class="wrapDescription">
					{{{product_description}}}
				</div>
			</div>
		</div>
	{{/each}}

	<form action="" method="POST">
		<div class="form-group">
			<div class="col-xs-12">
				<textarea name="productDescription"></textarea>
			</div>
			<div class="col-xs-12">
				<button class="btn btn-success" style="margin-top:15px">Cập nhật</button>
			</div>
		</div>
	</form>

{{/if}}

{{#section 'js'}}
	<script src="//cdn.ckeditor.com/4.7.1/full/ckeditor.js"></script>
	<script type="text/javascript">
		$(function() {
			CKEDITOR.replace('productDescription');
		})
	</script>
{{/section}}