{{#section 'css'}}
	<style type="text/css">
		.product {
			float: left;
			width: 19%;
			margin-right: 10px;
			/*border: 1px solid #ccc;*/
		}
		.product:last-child {
			margin-right: 0;
		}
	</style>
{{/section}}
<div class="row">
	<div class="col-xs-12">
		<h3>Top 5 sản phẩm có nhiều lượt đấu giá</h3>
		{{#each topCount}}
			<div class="product">
				<div class="thumbnailProduct">
					<a href="/product/detail/{{product_id}}" ><img src="/img/products/{{ image }}" width="100%"></a>
				</div>
				<div class="info">
					<h4><a href="/product/detail/{{product_id}}" >{{product_name}}</a></h4>
					<p>Giá khởi điểm: {{formatNumber price}}</p>
					<p>Giá hiện tại: {{formatNumber price_present}}</p>
					<p>
						<a href="/product/detail/{{product_id}}" class="btn btn-default">
							Chi tiết
						</a>
						<!-- {{#if ../layoutModels.isLogged}}
							<a href="javascript:;" class="btn btn-success addItem" role="button" data-id="{{product_id}}">
                                <i class="fa fa-cart-plus"></i>
                                Đấu giá
                            </a>
						{{/if}} -->
					</p>
				</div>
			</div>
		{{/each}}
	</div>
</div>
<hr>

<div class="row">
	<div class="col-xs-12">
		<h3>Top 5 sản phẩm có giá cao nhất</h3>
		{{#each topPrice}}
			<div class="product">
				<div class="thumbnailProduct">
					<a href="/product/detail/{{product_id}}" ><img src="/img/products/{{ image }}" width="100%"></a>
				</div>
				<div class="info">
					<h4><a href="/product/detail/{{product_id}}">{{product_name}}</a></h4>
					<p>Giá khởi điểm: {{formatNumber price}}</p>
					<p>Giá hiện tại: {{formatNumber price_present}}</p>
					<p>
						<a href="/product/detail/{{product_id}}" class="btn btn-default">
							Chi tiết
						</a>
						<!-- {{#if ../layoutModels.isLogged}}
							<a href="javascript:;" class="btn btn-success addItem" role="button" data-id="{{product_id}}">
                                <i class="fa fa-cart-plus"></i>
                                Đấu giá
                            </a>
						{{/if}} -->
					</p>
				</div>
			</div>
		{{/each}}
	</div>
</div>
<hr>

<div class="row">
	<div class="col-xs-12">
		<h3>Top 5 sản phẩm sắp hết hạn đấu giá</h3>
		{{#each topExpiring}}
			<div class="product">
				<div class="thumbnailProduct">
					<a href="/product/detail/{{product_id}}" ><img src="/img/products/{{ image }}" width="100%"></a>
				</div>
				<div class="info">
					<h4><a href="/product/detail/{{product_id}}">{{product_name}}</a></h4>
					<p>Giá khởi điểm: {{formatNumber price}}</p>
					<p>Giá hiện tại: {{formatNumber price_present}}</p>
					<p>
						<a href="/product/detail/{{product_id}}" class="btn btn-default">
							Chi tiết
						</a>
						<!-- {{#if ../layoutModels.isLogged}}
							<a href="javascript:;" class="btn btn-success addItem" role="button" data-id="{{product_id}}">
                                <i class="fa fa-cart-plus"></i>
                                Đấu giá
                            </a>
						{{/if}} -->
					</p>
				</div>
			</div>
		{{/each}}
	</div>
</div>