{{#section 'title'}}
	Thông tin đánh giá người đấu giá
{{/section}}

{{#if showError}}
	{{errorMsg}}
{{else}}
	<div class="contain">
		<div><label>Tên người đấu giá: </label> {{user.fullname}} </div>
		<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Số lần đánh giá tốt</th>
						<th>Số lần đánh giá không tốt</th>
						<th>Số lần đánh giá</th>
						<th>Phần trăm đánh giá hợp lệ để được ra giá mua</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>{{user.review_point}}</td>
							<td>{{dgKT}}</td>
							<td>{{user.review_count}}</td>
							<th>{{perComplete}}%</th>
						</tr>
				</tbody>
		</table>
	</div>




{{/if}}
