<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> Thông tin nhóm</div>
        <p>1212322 Đoàn Phú Sanh</p>
        <p>1212337 Hoàng Minh Tài</p>
        <p><i class="fa fa-map-pin"></i> 227, Nguyễn Văn Cừ, Quận 5, TP HCM</p>
        <p><i class="fa fa-phone"></i> Phone: +84 1683631122</p>
        <p><i class="fa fa-envelope"></i> E-mail : dpsanh2348@gmail.com, hmtai11294@gmail.com</p>
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2016 - All Rights with Webenlance</p>
    </div>
  </div>
</div>