<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-targe="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">PSMT</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<div class="navbar-form" id="searchForm">
					<div class="input-group">
						<input type="text" id="txtSearch" placeholder="Tìm kiếm" class="form-control" />
						<span class="input-group-btn dropdown">
							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
							<ul class="dropdown-menu">
			        			<li class="btnSearch" data-type="1"><a>Tên</a></li>
			        			<li class="btnSearch" data-type="2"><a>Loại</a></li>
			        			<li class="btnSearch" data-type="2"><a>Mô tả</a></li>
			        		</ul>
						</span>
					</div>
				</div>
				{{#if layoutModels.isLogged}}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Hi, <b>{{getName layoutModels.curUser.fullname }}</b> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    	{{#if layoutModels.isAdmin}}
						<li><a href="/account/admin">Quản lý</a></li>
                    	{{/if}}
                    	<li><a href="/product/create">Đăng sản phẩm</a></li>
                        <li><a href="/account/profile">Thông tin cá nhân</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="logoutLink" href="javascript:;">Thoát</a></li>
                    </ul>
				</li>
				{{else}}
				<li><a href="/account/login">Đăng nhập</a></li>
				{{/if}}
			</ul>
		</div>
	</div>
</nav>