{{#section 'title'}}
	Sản phẩm đang đấu giá
{{/section}}

{{#if showError}}
	<div class="alert alert-danger">
	  	{{errorMsg}}
	</div>
{{else}}

	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>No.</th>
				<th>Tên sản phẩm</th>
				<th>Giá hiện tại</th>
				<th>Người giữ giá</th>
			</tr>
		</thead>
		<tbody>
			{{#each products}}
				<tr>
					<td>{{convertIndexToNo @index}}</td>
					<td>
						<a href="/product/detail/{{product_id}}">{{product_name}}</a>
					</td>
					<td>{{formatNumber price_present}}</td>
					<td>
						{{#if_eq p_user_auction ../layoutModels.curUser.id}}
							<span style="color:red">{{username}}</span>
						{{else}}
							{{encodeName username}}
						{{/if_eq}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>



{{/if}}