{{#section 'title'}}
	Quản lý sản phẩm
{{/section}}

{{#if showError}}
	<div class="alert alert-danger">
	  	{{errorMsg}}
	</div>
{{/if}}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>No.</th>
			<th>Tên</th>
			<th>Người đăng</th>
			<th>Giá hiện tại</th>
			<th>Hành động</th>
		</tr>
	</thead>
	<tbody>
		{{#each products}}
			<tr data-id="{{product_id}}">
				<td>{{convertIndexToNo @index}}</td>
				<td>{{product_name}}</td>
				<td>{{username}}</td>
				<td>{{formatNumber price_present}}</td>
				<td>
					{{#if_eq p_is_active 0}}
					<a href="javascript:void()" class="btn btn-info confirmAuction">Duyệt</a>
					{{else}}
					<a href="javascript:void()" disabled class="btn btn-success">Đã Duyệt</a>
					{{/if_eq}}
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{#section 'js'}}
	<script type="text/javascript">
		$(function() {
			var confirmAuction = $('.confirmAuction');

			confirmAuction.on('click', function(e) {
				e.preventDefault();

				var it = $(this);
				var tr = it.parents('tr');
				var id = tr.data('id');

				$.post('/account/admin/product/confirmauction', {id: id}, function(response) {
					if(response) {
						it.removeClass('btn-info');
						it.addClass('btn-success');
						it.text('Đã duyệt');
						it.prop('disabled', true);
					}
				})
			})
		})
	</script>
{{/section}}