{{#section 'title'}}
	Sản phẩm đã thắng
{{/section}}

{{#if showError}}
	<div class="alert alert-danger">
	  	{{errorMsg}}
	</div>
{{else}}

	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>No.</th>
				<th>Tên sản phẩm</th>
				<th>Giá thắng</th>
			</tr>
		</thead>
		<tbody>
			{{#each products}}
				<tr>
					<td>{{convertIndexToNo @index}}</td>
					<td>
						<a href="/product/detail/{{product_id}}">{{product_name}}</a>
					</td>
					<td>{{formatNumber price_present}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>



{{/if}}