.nopadding {
	padding-left: 0;
	padding-right: 0;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

#mainBody {
	// margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 40px;
}
#searchForm {
	display: inline-block;
	float: left;
}
.error {
	color: #FB4226;
	font-size: 14px;
	margin-bottom: 15px;
}
.product {
	margin-bottom: 20px;
	height: 520px;
}
.btnSearch {
	cursor: pointer;
}
.thumbnailProduct {
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
