#menu {
	background-color: #2B96B6;
	color: #fff;
	height: 50px;
	margin-top: 50px;
	padding-left: 50px;
	.menu {
		display: inline-block;
		line-height: 50px;
		padding: 0 10px;
		transition: all .2s;
		a {
			cursor: pointer;
			color: #fff;
		}
		&:hover {
			background-color: #E67425;
		}
	}
}