{{#section 'title'}}
	Thành viên đợi xét duyệt
{{/section}}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>No.</th>
			<th>Username</th>
			<th>Họ tên</th>
			<th>Email</th>
			<th>Xét duyệt</th>
		</tr>
	</thead>
	<tbody>
		{{#each users}}
			<tr data-id="{{user_id}}">
				<td>{{convertIndexToNo @index}}</td>
				<td>{{ username }}</td>
				<td>{{ fullname }}</td>
				<td>{{ email }}</td>
				<td><button class="btn btn-success btnAccept">Đồng ý</button></td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{#section 'js'}}
	<script type="text/javascript">
		$(function() {
			var btnAccept = $('.btnAccept');

			btnAccept.on('click', function() {
				var tr = $(this).parents('tr');
				var data = tr.data();
				$.post('/account/user/waitingupgrade', {id: data.id}, function(response) {
					console.log(response);
					if(response) {
						tr.remove();
					} else {
						
					}
				})
			})
		})
	</script>
{{/section}}